body{
	font-family: sans-serif;
	background-color: lavender;


	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	overflow: hidden;


}
.container{

		display: flex;
		justify-content: center;
		align-items: center;
        flex-direction: column;

       
		transform: translateY(-100%);
		transition: all 1s;
		animation-name: myani;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		
		
	}
	.container img{
		width: 190px;
		/*background-color: red;*/

	}
	.container ul{
		padding: 0;
		background-color:rgba(0,0,4,5); 
		border: 2px solid purple;
		border-radius: 30px;
		padding: 20px;

		margin: 0;

	}
	.container ul li{
		list-style-type: none;
		font-size: 40px;
		color: #ff0;

        text-shadow: 0 0 7px red, 0 0 50px tomato;

        animation-name: myletter;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		/* animation-delay: 0.1s; */
	}
	
	ul li:nth-child(1){
		animation-delay: 0.2s;
	}
    ul li:nth-child(2){
		animation-delay: 0.4s;
	}
	ul li:nth-child(3){
		animation-delay: 0.6s;
	}
	ul li:nth-child(4){
		animation-delay: 0.8s;
	}
	ul li:nth-child(5){
		animation-delay: 1s;
	}
	ul li:nth-child(6){
		animation-delay: 1.2s;
	}
	ul li:nth-child(7){
		animation-delay: 1.4s;
	}
	ul li:nth-child(8){
		animation-delay: 1.6s;
	}
	ul li:nth-child(9){
		animation-delay: 1.8s;
	}
	ul li:nth-child(10){
		animation-delay: 2s;
	}
	ul li:nth-child(11){
		animation-delay: 2.2s;
	}
	ul li:nth-child(12){
		animation-delay: 2.4s;
	}
	ul li:nth-child(13){
		animation-delay: 2.6s;
	}
	




span img{
	width:100px;
	transform: translateY(500px); 

    position: absolute;

    transition: all 1s;

    animation-name: flyballoons;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 
}
span img:nth-child(1){
	
    left:0;
    transform:translateY(500px) rotate(30deg);

    animation-delay: 2s;
}
span img:nth-child(2){
	
	left: 20%;
	
	animation-delay: 4s;
}
span img:nth-child(3){
	
	left: 30%;
	color: transparent;

	animation-delay: 6s;
}
span img:nth-child(4){
	
	left: 60%;


	transform:translateY(500px) rotate(-30deg);

	animation-delay: 8s;
}
span img:nth-child(5){
	
	right: 10%;
	animation-delay: 10s;
}
span img:nth-child(6){
	
	right: 0;
	animation-delay: 12s;
}
span img:nth-child(7){
    width:60px; 
	left:55%;
	animation-delay: 14s;
}

span img:nth-child(8){
    width:20px; 
	left:15%;
	animation-delay: 16s;
}
span img:nth-child(9){
    width:40px; 
	left:35%;
	animation-delay: 18s;
}
span img:nth-child(10){
    width:20px; 
	right:15%;
	animation-delay: 2s;
}


.teampage{ 
	    width: 120px;
        background-color: transparent;
        padding: 10px 20px;

        border-radius: 5px;

        position: absolute;
        right: 10px;
        bottom: 10px;


      }
.teampage a{
	text-decoration: none;
	color:darkblue;
	font-size: 18px;
	font-weight: bolder;    
}


	@keyframes myani{
		0%{
           transform: translateY(100%);
		}
		100%{
			transform: translateY(-100%);
		}
	}
    
    @keyframes myletter{
		0%{
		    /*  color: grey;*/
               color: #000;
               text-shadow: none;
               opacity: 0;
		}
		85%{
			color: #000;
			text-shadow: none;

		}
		100%{

             color: #ff0;
             text-shadow: 0 0 10px red, 0 0 30px tomato;

             opacity: 1;
		}
	}
@keyframes flyballoons{
	0%{
        transform: translateY(300px);
	}
	
	100%{
        transform: translateY(-700px);
	}
}

